* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial sans-serif;
  background-color: rgb(0, 93, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  margin: 40px;
  padding: 30px;
  border: 2px solid black;
  width: 33.33%;
  background-color: rgb(249, 236, 220);
  border-radius: 20px;
}
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  border-radius: 10px;
}
h2 {
  margin-bottom: 15px;
}
